settings_local.py
.idea
howl/howlcore/migrations
howl/roomsensor/fixtures
howl/mongodb/fixtures
howl/forecast/fixtures
howl/inkdisplay/fixtures
howl/relay/fixtures
howl/weekstat/fixtures
howl/mongodb/migrations
howl/roomsensor/migrations
howl/rule/migrations
