
.wi-clear-day:before {
  content: "\f00d";
}

.wi-clear-night:before {
  content: "\f02e";
}

.wi-rain:before {
  content: "\f019";
}

.wi-snow:before {
  content: "\f01b";
}

.wi-sleet:before {
  content: "\f015";
}

.wi-wind:before {
  content: "\f050";
}

.wi-fog:before {
  content: "\f014";
}

.wi-cloudy:before {
  content: "\f013";
}

.wi-partly-cloudy-day:before {
  content: "\f002";
}

.wi-partly-cloudy-night:before {
  content: "\f031";
}

.wi-default:before {
  content: "\f04c";
}